@model EssentialNewsMvc.Web.ViewModels.News.CreateNewsViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Write new article</h2>

@Html.EditorForModel()

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
    @Scripts.Render("~/Scripts/bootstrap.file-input.js")
    @Scripts.Render("~/Scripts/call-input.js")
}