@model EssentialNewsMvc.Web.ViewModels.Home.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        @Html.Partial("_CarouselPartial", Model.TopNews)
        <hr />
        @foreach (var article in Model.Articles)
        {
            <div class="row well-sm hovereffect">
                @if (article.ThumbnailId != null)
                {
                    <a href="/Details/@article.Id?name=@article.Title" class="media-left">
                        <div class="hovereffect">
                            <img src="~/File?id=@article.ThumbnailId" height="180" , width="260" />
                        </div>
                    </a>
                }

                <div class="media-body">
                    <a href="/Details/@article.Id?name=@article.Title">
                        <h4>
                            @article.Title
                        </h4>
                    </a>

                    <p class="hidden-xs">@Html.Raw(article.SampleContent)</p>
                    <div class="article-info">
                        <div class="pull-right">
                            <span class="glyphicon glyphicon-time"></span>
                            <time>@article.CreatedOn.</time>
                        </div>
                        <div>
                            @if (article.UserName != null)
                            {
                                <span class="glyphicon glyphicon-user"></span>
                                <span>@article.UserName</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        }
    </div>
    <div class="col-md-4">
        @*@Html.Action("Index", "Aside")*@
    </div>
</div>